.LocationPage ul {
    list-style: none;
    column-count: 4;
}

.LocationPage span{
    color: orange;
}

.LocationPage div{
    font-size: 20px;
    margin-bottom: 15px;
}

.LocationPage {
    padding: 20px;
}

.LocationPage h2{
    font-size: 45px;
}