.EpisodesList ul {
    list-style: none;
    margin-top: 0;
}

.EpisodesList ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.EpisodesList ul li a:hover{
    color: orange;
}

.EpisodesList .seasons{
    display: flex;
    justify-content: space-between;
    padding: 15px 20%;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.EpisodesList .seasons div:hover{
    color: orange;   
}

.EpisodesList .seasons .active {
    color: orange;
}

.season-and-episode{
    color: orange;
}