.App {
    background-color: white;
    width: 1084px;
    margin: 0 auto;
    padding-bottom: 200px;
    font-family: 'RickMorty';
}
.App p {
    margin-top: 0;
}

@font-face{
    font-family: 'RickMorty';
    src: url(../../fonts/get_schwifty.ttf);
}