.Header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_block p {
    font-size: 40px;
    margin: 0;
    font-style: italic;
}

